.vCenter {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
  
.vCenter strong {
  font-size: 20px;
  line-height: 26px;
}
  
.vCenter p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}
  
.vCenter a {
  text-decoration: none;
}

ion-modal#example-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal#example-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}
.two-line-limit {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 40px;
  line-height: 20px;
}

ion-tab-button.tab-selected {
  border-bottom: 5px solid white;
  color: white;
  background-color: var(--ion-color-success); /* Optional: Background color */
}

ion-tab-button.tab-selected ion-img {
  filter: brightness(0) invert(1); /* Optional: Invert image colors if needed */
}
ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;

  --color: #ddd;
  --color-checked: green;
}

ion-radio.ios::part(container) {
  width: 20px;
  height: 20px;

  border: 2px solid #ddd;
  border-radius: 4px;
}

.radio-checked.ios::part(container) {
  border-color: #6815ec;
}
.step {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #4CAF50; /* Green color */
  border-radius: 50%;
  position: absolute;
  left: 25px; /* Adjust based on your layout */
  top: 10px;
  z-index: 1;
}
.date {
  position: absolute;
  left: 25px;
}

.step-card {
  margin-left: 50px;
  flex: 1;
  box-shadow: none; /* Removes default box shadow */
  border: 1px solid #ccc; /* Border to match the image */
  border-radius: 8px; /* Rounded corners */
}

.step:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 2px;
  height: calc(100% + 20px);
  background-color: #4CAF50; /* Green color */
  left: 31px; /* Adjust based on your layout */
  top: 35px;
  z-index: 0;
}

.step .circle,
.step::after {
  background-color: #4CAF50; /* Green color */
}

h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}

p {
  margin: 5px 0;
  font-size: 0.9em;
  color: #888; /* Grey color for the text */
}

h3 {
  margin: 10px 0 0;
  font-size: 1.5em;
  font-weight: bold;
}
